@charset "EUC-KR";
body, html {
    line-height: 1;
    font-family: OhouseSans, "Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.4px;
    font-size: 13px;
}


button, input[type=email], input[type=file], input[type=number], input[type=password], input[type=submit], input[type=tel], input[type=text], option, select, textarea {
    -webkit-appearance: none;
    -moz-appearance: textfield;
}
ol, ul {
    list-style: none;
}
html {
    color: #424242;
    background: #fff;
}
.layout {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
._2u6kP {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 1256px;
    padding: 0 60px;
    margin: 0 auto;
    box-sizing: border-box;
}
.layout>* {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
footer, header, main {
    box-sizing: border-box;
    position: relative;
    display: block;
}

._2VbEo {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0px;
    -moz-box-flex: 1;
    -moz-flex: 1 0 0px;
    -ms-flex: 1 0 0px;
    flex: 1 0 0px;
    box-sizing: border-box;
    max-width: 64%;
}

._2CEFF {
    font-size: 24px;
    line-height: 36px;
    color: #000;
    font-weight: 700;
    margin: 40px 0 20px;
}

.clDqQ {
    margin-bottom: 50px;
}

.checkout-container {
    width: auto;
    max-width: none;
    margin: 0 auto;
    width: calc(100% - 30px);
    max-width: 100%;
    box-sizing: border-box;
    min-height: 1px;
}
.vtJfv {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    height: 56px;
    border-bottom: 1px solid #eaebef;
}
._2jygH {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}
._3KNiw {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0px;
    -moz-box-flex: 1;
    -moz-flex: 1 0 0px;
    -ms-flex: 1 0 0px;
    flex: 1 0 0px;
    text-align: right;
    padding-left: 11px;
    font-size: 15px;
    line-height: 20px;
    color: #292929;
    transition: opacity .25s;
}
._1RJj6 {
    padding: 0;
    background-color: transparent;
    font-size: 16px;
    line-height: 19px;
    color: #ff778e;
    transition: color .2s;
    border: none;
    font-weight: 700;
}
._254uw {
    overflow: hidden;
    margin: -3px;
    padding: 23px 3px 3px;
    box-sizing: border-box;
}
._1F8DA {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #292929;
}
._3O4wQ {
    max-width: calc(100% - 80px);
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
}
._4du-- {
    padding: 3px 8px;
    box-sizing: border-box;
    border: 1px solid #ff778e;
    border-radius: 100px;
    font-size: 12px;
    line-height: 14px;
    color: #ff778e;
    margin-left: 8px;
    user-select: none;
}
._2yz9T {
    margin-top: 10px;
    font-size: 16px;
    line-height: 20px;
    color: #292929;
    word-break: break-word;
}
._3mlQK {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 6px;
    font-size: 15px;
    line-height: 18px;
    color: #757575;
}
._1HCV8 {
    max-width: calc(100% - 130px);
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
}
._27nmi {
    width: 120px;
    margin-left: 8px;
}
.css-18azwi1 {
    padding: 20px 10px 0px 0px;
    max-width: 642px;
}


._3Bt8k ._3K8Q8 {
    padding-right: 30px;
}
._1qwAY {
    padding: 8px 15px 9px;
}


.IgBXR {
    position: absolute;
    top: 50%;
    right: 15px;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    pointer-events: none;
    color: #bdbdbd;
}
._15YWr {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0px;
    -moz-box-flex: 1;
    -moz-flex: 1 0 0px;
    -ms-flex: 1 0 0px;
    flex: 1 0 0px;
    max-width: 36%;
    padding-left: 40px;
    box-sizing: border-box;
    position: relative;
}

._3L1d- {
    transition: top .1s ease 0s;
}
._1_Tld {
    padding-top: 40px;
}
._2lpRj {
    border-radius: 4px;
    border: 1px solid #eaebef;
    box-shadow: 0 2px 3px rgb(234 235 239 / 40%);
}
._1tHaf {
    padding: 20px 24px 23px;
    box-sizing: border-box;
}
._3TNPF {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
    font-weight: 700;
}
._2JEof {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: center;
    -moz-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    margin-bottom: 8px;
}
._34k6S {
    width: 100px;
    font-size: 15px;
    line-height: 22px;
    color: #757575;
}
.ySGW6 {
    font-weight: 700;
}
._25zAE {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0px;
    -moz-box-flex: 1;
    -moz-flex: 1 0 0px;
    -ms-flex: 1 0 0px;
    flex: 1 0 0px;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    color: #292929;
    font-family: Tahoma,sans;
}
._1qFy7 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    border-top: 1px solid #eaebef;
    padding-top: 19px;
}
._2YW1B, ._3hFjD {
    line-height: 27px;
    font-weight: 700;
    color: #000;
}
._3hFjD {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0px;
    -moz-box-flex: 1;
    -moz-flex: 1 0 0px;
    -ms-flex: 1 0 0px;
    flex: 1 0 0px;
    width: 150px;
    font-size: 18px;
}
._2YW1B {
    font-size: 22px;
    text-align: right;
}
._2YW1B, ._3hFjD {
    line-height: 27px;
    font-weight: 700;
    color: #000;
}
._1vQx0 {
    color: #ff778e;
    font-family: Tahoma,sans;
}
._1-Gyq {
    margin-top: 6px;
    font-weight: 400;
    color: #424242;
    font-size: 13px;
    line-height: 16px;
    text-align: right;
}
.csPTb {
    font-weight: 700;
    font-family: Tahoma,sans;
}
.css-1in19nv {
    border-top: 1px solid rgb(234, 235, 239);
}
.css-17jncej {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 12px 0px 12px 24px;
    font-size: 15px;
    line-height: 18px;
    color: rgb(0, 0, 0);
}
.css-q3e0y4 span {
    margin-right: 4px;
    font-size: 14px;
    line-height: 17px;
    color: rgb(164, 172, 179);
}
.css-1wmw4cz {
    margin-right: 16px;
    transition: transform 0.2s ease 0s;
}
.css-1wmw4cz path {
    fill: rgb(164, 172, 179);
}
.css-drntii {
    padding: 0px 0px 8px 24px;
}
.css-1khn195 {
    box-sizing: border-box;
}
.css-1rz2yl2 {
    display: flex;
    padding-top: 3px;
}
.css-drntii input {
    max-width: 273px;
}
.css-1pkqci5 {
    width: 65px;
    margin-left: 8px;
}



.css-1pkqci5 button {
    width: 100%;
}
._3VwZT, ._16Bs1 {
    line-height: 18px;
    font-size: 15px;
}

._3SroY {
    background-color: #ff778e;
    border-color: #ff778e;
    color: #fff;
}



.css-zdz8xi {
    height: 30px;
}
.css-1bp0feq {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 72px;
    font-size: 15px;
    line-height: 18px;
    color: rgb(117, 117, 117);
    white-space: pre-line;
    max-height: 40px;
    transition: color 0.25s ease 0s;
}
.lQNTs {
    padding-top: 0;
}

.css-1icqu5k {
    display: flex;
    padding: 8px 0px;
}
.css-14o29br {
    flex: 1 0 0px;
    max-width: 270px;
}
._2Z2K1 {
    display: flex;
}
._2ixif {
    position: relative;
    width: 85px;
    margin-right: 8px;
}
._3Bt8k {
    position: relative;
    display: inline-block;
    width: 100%;
}
._2Z2K1 .yPMDv {
    color: #424242;
}
.UYZ4Z {
    flex: 1 0 0px;
}
._3ASDR:hover:not(:focus) {
    background-color: #fafafa;
}



._2EQGD, ._2EQGD {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0px;
    -moz-box-flex: 1;
    -moz-flex: 1 1 0px;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
}


._3ASDR {
    display: inline-block;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    font-family: "Noto Sans KR", "Noto Sans CJK KR", "맑은 고딕", "Malgun Gothic", sans-serif;
    font-size: 15px;
    line-height: 21px;
    resize: none;
    appearance: none;
    margin: 0px;
    padding: 8px 15px 9px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(219, 219, 219);
    border-image: initial;
    border-radius: 4px;
    transition: border-color 0.1s ease 0s, background-color 0.1s ease 0s;
}
._1r4AF {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    color: #292929;
}
input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
.css-1d4irc7 {
    flex: 1 0 0px;
    font-size: 14px;
    line-height: 19px;
    color: rgb(66, 66, 66);
    font-weight: bold;
}
.css-114dac7 {
    padding: 11px 16px 10px;
    background-color: rgb(247, 248, 250);
}
.css-1deqzke:last-of-type {
    border-bottom: 0px;
}

.css-1deqzke {
    display: flex;
    padding: 16px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(234, 235, 239);
}
.css-17fh4sh {
    flex: 1 0 0px;
}

.css-o69atw {
    flex: 1 0 0px;
    font-size: 14px;
    line-height: 19px;
    color: rgb(66, 66, 66);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: right;
}






._2wuTD:not(._36pnd)._326l9, ._2wuTD:not(._36pnd):disabled {
    background-color: #fff;
    border-color: #c7effb;
    color: #c7effb;
}
._1eWD8:disabled {
    cursor: default;
}
[role=button]:disabled, a:disabled, button:disabled, input[type=button]:disabled, input[type=reset]:disabled, input[type=submit]:disabled {
    cursor: default;
}
._3VzHU {
    margin-left: 8px;
}

._3VwZT {
    padding: 11px 10px;
    min-height: 40px;
}


._1eWD8 {
    user-select: none;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: "Noto Sans KR", "Noto Sans CJK KR", "맑은 고딕", "Malgun Gothic", sans-serif;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    /* background: none; */
    text-decoration: none;
    transition: color 0.1s ease 0s, background-color 0.1s ease 0s, border-color 0.1s ease 0s;
    border-radius: 4px;
}
._2wuTD {
    background-color: #fff;
    border-color: #ff778e;
    color: #ff778e;
}
._2xq8i {
    font-size: 15px;
    line-height: 18px;
    color: #292929;
}
._1xjJk {
    margin-left: 5px;
    color: #ff778e;
    font-weight: 700;
}
.EFfDW, .JsdI1 {
    margin: -3px;
    padding: 3px;
}
._3KNiw._1T_ur {
    color: #757575;
}
.css-1r6ecne {
    font-size: 14px;
    line-height: 17px;
    color: rgb(41, 41, 41);
    font-weight: bold;
}
.css-rvb3re > li {
    position: relative;
    padding-left: 6px;
}
.css-tobrwt {
    font-size: 15px;
    line-height: 18px;
    color: rgb(41, 41, 41);
    margin-bottom: 8px;
}
.css-rvb3re {
    font-size: 13px;
    line-height: 16px;
    color: rgb(117, 117, 117);
}
.css-1ohhab7 {
    color: rgb(130, 140, 148);
    margin-right: 4px;
}
.css-q3e0y4 {
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    height: 41px;
    cursor: pointer;
}
._3kWHq._2FPtt:disabled {
    background-color: #fafafa;
    border-color: #dbdbdb;
}
._3ASDR:disabled {
    background-color: #f5f5f5;
    border-color: #dbdbdb;
    color: #bdbdbd;
}

.Ux4aQ {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 12px;
    max-width: 322px;
}
.css-2pv01r {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid rgb(234, 235, 239);
    border-left: 1px solid rgb(234, 235, 239);
}
@media not all, (hover: hover), not all{
._3SroY.focus-visible, ._3SroY:hover, html:not(.js-focus-visible) ._3SroY:focus {
    border-color: #f2acb8;
    background-color: #f2acb8;
}
}
.css-1pkqci5 button {
    width: 100%;
}
._3kWHq {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0px;
    -moz-box-flex: 1;
    -moz-flex: 1 0 0px;
    -ms-flex: 1 0 0px;
    flex: 1 0 0px;
}

._1m42e {
    min-width: 270px;
}
._1a7bp {
    width: 100%;
}
._2EQGD, ._2RTFg {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0px;
    -moz-box-flex: 1;
    -moz-flex: 1 1 0px;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
}
.css-s5xdrg {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.css-rvb3re > li::before {
    position: absolute;
    display: block;
    content: "·";
    left: 0px;
    font-size: 13px;
    line-height: 16px;
    color: rgb(117, 117, 117);
}
.css-18cz9pp {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 11px;
}
.css-15hitpz {
    border-radius: 4px;
    width: 64px;
    height: 64px;
    margin-right: 12px;
}
.css-1tcfgij {
    margin: 0px 8px;
    height: 12px;
    border-right: 1px solid rgb(234, 235, 239);
}
.css-1fgdtzk {
    font-size: 13px;
    line-height: 16px;
    color: rgb(117, 117, 117);
}
.jTtMl {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0px;
    -moz-box-flex: 1;
    -moz-flex: 1 0 0px;
    -ms-flex: 1 0 0px;
    flex: 1 0 0px;
}
._2EQGD, ._2EQGD {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0px;
    -moz-box-flex: 1;
    -moz-flex: 1 1 0px;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
}
._2tUrR {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
._1pGtv {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}
fieldset, img {
    border: 0;
}
.css-wclqjc:last-of-type {
    margin-bottom: 0px;
}
._3aT7b {
    padding-bottom: 24px;
}
.css-yepsdl {
    position: relative;
    bottom: -3px;
    background-color: rgb(247, 248, 250);
    border-radius: 4px;
}
.css-1jzgr0t {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 12.5%;
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-width: 0px 1px 1px 0px;
    border-top-style: initial;
    border-left-style: initial;
    border-top-color: initial;
    border-left-color: initial;
    border-image: initial;
    padding: 0px 1px 5px 0px;
    margin: 0px;
    border-right-style: solid;
    border-right-color: rgb(234, 235, 239);
    border-bottom-style: solid;
    border-bottom-color: rgb(234, 235, 239);
    transition: background-color 0.2s ease 0s;
    word-break: keep-all;
    cursor: pointer;
}
.css-1i2eqgi {
    width: 60px;
    height: 60px;
    margin: 8px auto 4px;
}
.css-10z9090 {
    font-size: 14px;
    line-height: 17px;
    color: rgb(41, 41, 41);
    margin-bottom: 3px;
    transition: font-weight 0.2s ease 0s;
}
.css-8sa7n1 {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 12.5%;
    box-sizing: border-box;
    text-align: center;
    border-width: 0px 2px 2px 0px;
    border-top-style: initial;
    border-left-style: initial;
    border-top-color: initial;
    border-left-color: initial;
    border-image: initial;
    margin: 0px;
    transition: background-color 0.2s ease 0s;
    word-break: keep-all;
    cursor: pointer;
    padding: 0px 0px 4px;
    background-color: rgb(239, 251, 255);
    border-right-style: solid;
    border-right-color: rgb(53, 197, 240);
    border-bottom-style: solid;
    border-bottom-color: rgb(53, 197, 240);
}
.css-9n3kbk {
    font-size: 14px;
    line-height: 17px;
    color: rgb(41, 41, 41);
    margin-bottom: 3px;
    transition: font-weight 0.2s ease 0s;
    font-weight: bold;
}
.css-9n3kbk::before {
    position: absolute;
    display: block;
    content: "";
    top: -1px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-top: 2px solid rgb(53, 197, 240);
    border-left: 2px solid rgb(53, 197, 240);
}
._3UImz {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: inherit;
    opacity: 0;
    box-sizing: border-box;
}
.css-qdif5i {
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    text-align: center;
    color: rgb(9, 173, 219);
}
.css-2szu7b.css-2szu7b.css-2szu7b {
    display: flex;
    margin: -9px 3px -9px -9px;
}
._3zqA8 {
    position: relative;
    display: inline-block;
    font-size: 0;
    padding: 9px;
}
.css-127as0t {
    background-color: rgb(247, 248, 250);
    padding: 12px 24px;
}
._2mDYR {
    display: inline-block;
    width: 22px;
    height: 22px;
    box-sizing: border-box;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #fff;
    font-size: 16px;
    line-height: 1;
    transition: color .1s,border-color .1s,background-color .1s;
}
._2UftR {
    width: 1em;
    height: 1em;
}
.css-wgo8z {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border: 0px;
    background-color: transparent;
    width: 100%;
    padding: 0px 0px 14px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgb(101, 110, 117);
}
.css-cr6fx6 {
    width: 16px;
    height: 16px;
    transition: transform 0.2s ease 0s;
    fill: rgb(130, 140, 148);
    margin-left: auto;
}
.css-127as0t .policy-list {
    border: 0px;
}
.css-fmrpws {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgb(101, 110, 117);
}
.y-RI2 {
    width: 100%;
    margin-top: 20px;
    box-shadow: 0 2px 6px rgb(53 197 240 / 20%);
}
._27do9 {
    padding: 15px 10px;
    line-height: 20px;
    font-size: 17px;
    min-height: 50px;
}
[role=button], a, button, input[type=button], input[type=reset], input[type=submit] {
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}



@media (min-width: 375px) {
    .checkout-container {
        margin-right: auto;
        margin-left: auto;
        width: calc(100% - 30px);
        max-width: 100%;
        box-sizing: border-box;
        min-height: 1px;
    }
}

@media (min-width: 768px) {

    body,
    html {
        font-size: 15px;
    }
}

@media (min-width: 768px) {
    .checkout-container {
        margin-right: auto;
        margin-left: auto;
        width: calc(100% - 80px);
        max-width: 100%;
        box-sizing: border-box;
        min-height: 1px;
    }
}

@media (min-width: 1024px) {
    .checkout-container {
        margin-right: auto;
        margin-left: auto;
        width: auto;
        max-width: 100%;
        box-sizing: border-box;
        min-height: 1px;
    }
}

@media (min-width: 1256px) {
    .checkout-container {
        margin-right: auto;
        margin-left: auto;
        width: auto;
        max-width: 100%;
        box-sizing: border-box;
        min-height: 1px;
    }
}
.css-11hv2i2 {
    margin-bottom: 50px;
}
.css-19h7lru {
    margin: 0px auto;
    box-sizing: border-box;
    width: auto;
    max-width: 100%;
    min-height: 1px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 56px;
    border-bottom: 1px solid rgb(234, 235, 239);
}
.css-q6jijz {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
}
.css-1m1px9z {
    flex: 1 0 0px;
    text-align: right;
    padding-left: 11px;
    font-size: 15px;
    line-height: 20px;
    transition: opacity 0.25s ease 0s;
}
.css-1msvccc {
    overflow: hidden;
    margin: -3px;
    padding: 23px 3px 3px;
    box-sizing: border-box;
}
.css-1s5pqoc {
    margin: 0px auto;
    box-sizing: border-box;
    width: auto;
    max-width: 100%;
    min-height: 1px;
}
.css-19mgahg {
    display: flex;
    padding: 0px 0px 8px;
}
.css-1jiwet1 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 72px;
    font-size: 15px;
    line-height: 18px;
    white-space: pre-line;
    max-height: 40px;
    transition: color 0.25s ease 0s;
}
.css-yby15j {
    flex: 1 0 0px;
    max-width: 570px;
}
.css-vqaf4p {
    display: flex;
}
.css-14kx49g {
    display: flex;
    flex: 1 0 0px;
    width: 100%;
}
.css-abcfsy {
    position: relative;
    flex: 1 0 0px;
    width: 100%;
    min-width: 270px;
}
.css-a5kq9u {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    color: rgb(41, 41, 41);
}
.css-15hj6g4 {
    position: relative;
    flex: 1 0 0px;
    flex-wrap: wrap;
}
.css-y0wgwc {
    width: 100%;
    margin-bottom: 8px;
}
.css-1d3w5wq {
    width: 100%;
}
.css-7x8hv9 {
    position: relative;
    flex: 1 0 0px;
}
.css-1nuhno9 {
    padding-top: 8px;
}
.css-1jq486h {
    display: flex;
    margin-bottom: 8px;
    max-width: 270px;
}
.css-1maly7k {
    width: 120px;
    margin-right: 8px;
    font-size: 15px;
}
.css-6vqhdq {
    flex: 1 0 0px;
    text-align: right;
    padding-left: 11px;
    font-size: 15px;
    line-height: 20px;
    color: rgb(41, 41, 41);
    transition: opacity 0.25s ease 0s;
}
.css-4pfmkz {
    display: inline-block;
    margin: 0px;
    width: auto;
    box-sizing: border-box;
    border: none;
    background: none;
    font-family: "Noto Sans KR", "Noto Sans CJK KR", "맑은 고딕", "Malgun Gothic", sans-serif;
    text-decoration: none;
    text-align: center;
    transition: color 0.1s ease 0s, opacity 0.1s ease 0s;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    color: rgb(53, 197, 240);
    padding: 2px;
    font-size: 15px;
    line-height: 19px;
    font-weight: bold;
}