button, input, select, textarea {
    font-size: inherit;
}
[role=button], a, button, input[type=button], input[type=reset], input[type=submit] {
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
blockquote, body, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
* {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
}
.css-1g1okj8 {
    width: 100%;
    height: calc(100% - 120px);
    margin: 40px auto 0px;
    padding: 0px 16px;
    box-sizing: border-box;
}


.css-1wv4onu {
    position: relative;
    height: 100%;
}
.css-1akthhu {
    margin-bottom: 12px;
    font-size: 13px;
    line-height: 20px;
}
.css-2zffhr {
    border: 1px solid rgb(219, 219, 219);
    padding: 6px 16px;
    background: rgb(247, 248, 250);
    margin: 12px 0px 28px;
}
.css-bcffy2 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.css-1b75crg.css-1b75crg:disabled {
    background-color: rgb(247, 248, 250);
}
._3ASDR:disabled {
    background-color: #f5f5f5;
    border-color: #dbdbdb;
    color: #bdbdbd;
}
.css-1b75crg.css-1b75crg {
    padding: 0px;
    box-shadow: none;
    border: none;
    font-size: 15px;
}

._3ASDR:disabled {
    background-color: #f5f5f5;
    border-color: #dbdbdb;
    color: #bdbdbd;
}
.css-1b75crg.css-1b75crg {
    padding: 0px;
    box-shadow: none;
    border: none;
    font-size: 15px;
}
._1qwAY {
    padding: 8px 15px 9px;
}

._3ASDR {
    display: inline-block;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    font-family: "Noto Sans KR", "Noto Sans CJK KR", "¸¼Àº °íµñ", "Malgun Gothic", sans-serif;
    font-size: 15px;
    line-height: 21px;
    resize: none;
    appearance: none;
    margin: 0px;
    padding: 8px 15px 9px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(219, 219, 219);
    border-image: initial;
    border-radius: 4px;
    transition: border-color 0.1s ease 0s, background-color 0.1s ease 0s;
}

._3ASDR {
    display: inline-block;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    font-family: "Noto Sans KR", "Noto Sans CJK KR", "¸¼Àº °íµñ", "Malgun Gothic", sans-serif;
    font-size: 15px;
    line-height: 21px;
    resize: none;
    appearance: none;
    margin: 0px;
    padding: 8px 15px 9px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(219, 219, 219);
    border-image: initial;
    border-radius: 4px;
    transition: border-color 0.1s ease 0s, background-color 0.1s ease 0s;
}
.css-1gabnbc.css-1gabnbc {
    white-space: pre;
    height: 31px;
    font-size: 14px;
    line-height: 17px;
    padding: 7px 10px;
    box-sizing: border-box;
}
._3AsCW._36MJM, ._3AsCW:disabled {
    background-color: #ff778e;
    border-color: #ff778e;
    color: #ffb0bd;
}
._3Z6oR:disabled {
    cursor: default;
}
[role=button]:disabled, a:disabled, button:disabled, input[type=button]:disabled, input[type=reset]:disabled, input[type=submit]:disabled {
    cursor: default;
}
._2tsrJ, ._3VkGp {
    font-size: 17px;
    line-height: 26px;
}
._2tsrJ {
    padding: 11px 10px;
}
._3AsCW {
    background-color: #ff778e;
    border-color: #ff778e;
    color: #fff;
}

._3Z6oR {
    user-select: none;
    display: inline-block;
    box-sizing: border-box;
    font-family: "Noto Sans KR", "Noto Sans CJK KR", "¸¼Àº °íµñ", "Malgun Gothic", sans-serif;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    background: none;
    text-decoration: none;
    transition: color 0.1s ease 0s, background-color 0.1s ease 0s, border-color 0.1s ease 0s;
    border-radius: 4px;
}
.css-1akthhu {
    margin-bottom: 12px;
    font-size: 13px;
    line-height: 20px;
}
.css-1va5foj {
    color: #ff778e;
    font-weight: bold;
}
.css-gj08vi {
    margin-bottom: 28px;
}
.css-bcffy2 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
._17La2 {
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.css-86sxab {
    max-width: 260px;
}
._2B7XM {
    flex: 1 0 0px;
}
* {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
}
.css-86sxab input {
    height: 45px;
    border-radius: 1px;
}
._2-63Q {
    flex: 0 0 auto;
    padding: 0 6px;
    font-size: 15px;
    color: #9e9e9e;
}
._2B7XM {
    flex: 1 0 0px;
}
._2-63Q {
    flex: 0 0 auto;
    padding: 0 6px;
    font-size: 15px;
    color: #9e9e9e;
}
._2B7XM {
    flex: 1 0 0px;
}
.css-86sxab input {
    height: 45px;
    border-radius: 1px;
}
.css-1gabnbc.css-1gabnbc {
    white-space: pre;
    height: 31px;
    font-size: 14px;
    line-height: 17px;
    padding: 7px 10px;
    box-sizing: border-box;
}
._3AsCW._36MJM, ._3AsCW:disabled {
    background-color: #ff778e;
    border-color: #ff778e;
    color: #ffb0bd;
}
._3Z6oR:disabled {
    cursor: default;
}
._3Z6oR {
    user-select: none;
    display: inline-block;
    box-sizing: border-box;
    font-family: "Noto Sans KR", "Noto Sans CJK KR", "¸¼Àº °íµñ", "Malgun Gothic", sans-serif;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    background: none;
    text-decoration: none;
    transition: color 0.1s ease 0s, background-color 0.1s ease 0s, border-color 0.1s ease 0s;
    border-radius: 4px;
}
.css-1lc2vx1 {
    width: 100%;
    height: 50px;
}
._27do9 {
    padding: 15px 10px;
    line-height: 20px;
    font-size: 17px;
    min-height: 50px;
}

._3SroY {
    background-color: #ff778e;
    border-color: #ff778e;
    color: #fff;
}

._1eWD8 {
    user-select: none;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: "Noto Sans KR", "Noto Sans CJK KR", "¸¼Àº °íµñ", "Malgun Gothic", sans-serif;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    background: none;
    text-decoration: none;
    transition: color 0.1s ease 0s, background-color 0.1s ease 0s, border-color 0.1s ease 0s;
    border-radius: 4px;
}
.css-156jhri {
    width: 100%;
    height: 72px;
    line-height: 20px;
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 12px;
    background: rgb(247, 248, 250);
}
.css-1nc5o6j {
    color: #ff778e;
    font-size: 12px;
    line-height: 20px;
    font-weight: bold;
}
@media (min-width: 768px){

.css-1g1okj8 {
    width: 375px;
}
}
