<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
<configuration>
	<typeAliases>
		<!-- 원하는 클래스 여러개 가능 -->
		<typeAlias type="ozo.spring.house.admin.vo.MemberVO" alias="admin"/>
		<typeAlias type="ozo.spring.house.user.vo.UserVO" alias="user"/>
		<typeAlias type="ozo.spring.house.seller.vo.SellerVO" alias="seller"/>
	</typeAliases>
	<!-- 원래 여기에 datasource를 넣어줘야하는데 applicationContext에서 넣었음 -->
	<mappers>
		<!-- 원하는 mapping xml 여러개 가능 -->
		<mapper resource="mappings/adminLogin-mapping.xml"/>
		<mapper resource="mappings/userManage-mapping.xml"/>
		<mapper resource="mappings/sellerLogin-mapping.xml"/>
	</mappers>
</configuration>
