blockquote, body, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}

*{
    margin: 0px;
    font-family: "S-Core", sans-serif;
    font-weight: 600;
}

body{
    font-size: 15px;
}

@font-face {
	font-family: 'S-Core';
	font-weight:400;
	src: url('../font/S-CoreDream-4Regular.woff') format('woff');
}

@font-face {
	font-family: 'S-Core';
	font-weight:600;
	src: url('../font/S-CoreDream-6Bold.woff') format('woff');
}

@font-face {
	font-family: 'S-Core';
	font-weight:800;
	src: url('../font/S-CoreDream-8Heavy.woff') format('woff');
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.update_password{
    display: flex;
    justify-content: center;
}

.update_password_wrap{
    width: 400px;
    padding: 40px;
    color: #292929;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%);
    margin: 50px;
}

.update_password_title{
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 5px;
}


.update_password_section_title{
    font-size: 15px;
    font-weight: 800;
    margin-bottom: 5px;
}

.update_password_section_content{
    font-weight: 400;
    font-size: 15px;

}

.input_group{
    padding: 20px 0;
}

.form_control{
    transition: border-color .2s,box-shadow .2s,background-color .2s;
    display: block;
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    padding: 0 15px;
    line-height: 40px;
    border-radius: 4px;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    color: #424242;
}

input:focus{
    outline: none;
}

.expert-form-group__error{
    margin: 10px 0 0;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.33;
    color: #f77;
}

.error_first{
    display: none;
}

.error_second{
    display: none;
}

.update_password_btn{
    display: inline-block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid transparent;
    background: none;
    font-family: inherit;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    transition: color .1s,background-color .1s,border-color .1s;
    border-radius: 4px;
    cursor: pointer;
    border-color: #35c5f0;
    background-color: #35c5f0;
    width: 100%;
    color: #fff;
    padding: 11px 10px;
    font-size: 17px;
    line-height: 26px;
}

.update_password_btn:hover{
    background-color: #19a8d4;
}

@media all and (max-width:768px) {
    
    .update_password_wrap{
        width: calc(100% - 40px);
        padding: 80px 20px;
        box-shadow: none;
        margin: 0;
    }

    .update_password_section_title{
        font-size: 13px;
    }

    .update_password_section_content{
        font-size: 13px;
    }


}