@charset "EUC-KR";
@charset "UTF-8";


@font-face {
    font-family: "S-Core";
    font-weight: 400;
    font-style: normal;
    src: url("../font/S-CoreDream-4Regular.woff") format("woff");
}

@font-face {
    font-family: "S-Core";
    font-weight: 600;
    font-style: normal;
    src: url("../font/S-CoreDream-6Bold.woff") format("woff");
}

@font-face {
    font-family: "S-Core";
    font-weight: 800;
    font-style: normal;
    src: url("../font/S-CoreDream-8Heavy.woff") format("woff");
}

body {
    font-family: "S-Core";
}


a:link {
    font-family: "S-Core";
    color: #424242;
    text-decoration: none;
}

a:visited {
    font-family: "S-Core";
    color: #424242;
    text-decoration: none;

}

a:hover {
    font-family: "S-Core";
    color: #424242;
    text-decoration: none;
}

a:active {
    font-family: "S-Core";
    color: #424242;
    text-decoration: none;
}


.layout-footer__content {
    display: block;
    max-width: 1256px;
    margin: 0 auto;
    padding: 30px 15px 40px;
    box-sizing: border-box;
}

.layout-footer {
    font-family: "S-Core";
    margin: 0 0 25px;
    font-size: 12px;
    line-height: 16px
}

.layout>.layout-footer {
    margin-top: auto;
}

.layout>* {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

footer,
header,
main {
    box-sizing: border-box;
    position: relative;
    display: block;
}

.layout-footer__cs__link {
    font-family: "S-Core";
    display: inline-block;
    font-weight: 700;
    color: #424242
}

.layout-footer__cs__link>.icon {
    font-family: "S-Core";
    margin-left: 1px;
    vertical-align: -1px;
    font-size: 11px
}

.layout-footer__cs__tel {
    font-family: "S-Core";
    display: inline-block;
    margin: 2px 0 0;
    font-size: 28px;
    font-weight: 700;
    color: #424242;
    line-height: 36px
}

.layout-footer__cs__time {
    font-family: "S-Core";
    color: #757575
}

.layout-footer__outbound {
    font-family: "S-Core";
    margin: -3px -7px 25px
}

.layout-footer__outbound__item {
    font-family: "S-Core";
    display: inline-block;
    padding: 3px;
    margin: 0 4px
}

.layout-footer__shortcut {
    font-family: "S-Core";
    margin: 30px -45px 13px
}

.layout-footer__shortcut>li {
    font-family: "S-Core";
    display: inline
}

.layout-footer__shortcut__item {
    font-family: "S-Core";
    display: inline-block;
    margin: 0 3px;
    padding: 2px;
    font-size: 10px;
    font-weight: 400;
    color: #424242;
    line-height: 16px
}

.layout-footer__shortcut__item--bold {
    font-family: "S-Core";
    font-weight: 700
}

.layout-footer__info {
    font-family: "S-Core";
    display: block;
    margin: 0 -5px;
    font-size: 10px;
    color: #757575;
    line-height: 16px
}

.layout-footer__info__item {
    font-family: "S-Core";
    display: inline-block;
    margin: 0 3px;
    padding: 2px
}

.layout-footer__info__item dd,
.layout-footer__info__item dt {
    font-family: "S-Core";
    display: inline
}

.layout-footer__info__item dt:after {
    font-family: "S-Core";
    content: " : "
}

.layout-footer__info__item__link {
    font-family: "S-Core";
    font-weight: 700
}

.layout-footer__info__item__check-link {
    font-family: "S-Core";
    cursor: pointer
}

.layout-footer {
    font-family: "S-Core";
    display: block;
    background-color: #fafafa
}

.layout-footer a::-moz-focus-inner {
    font-family: "S-Core";
    border: 0
}

.layout-footer a.focus-visible:focus {
    font-family: "S-Core";
    outline: none;
    border-radius: 3px;
    box-shadow: 0 0 0 3px rgba(130, 224, 250, .5)
}

.layout-footer__content {
    font-family: "S-Core";
    display: block;
    max-width: 1256px;
    margin: 0 auto;
    padding: 30px 15px 40px;
    box-sizing: border-box
}

@media(min-width:768px) {
    .layout-footer__content {
        font-family: "S-Core";
        padding: 30px 40px 40px
    }
}

@media(min-width:1024px) {
    .layout-footer__content {
        font-family: "S-Core";
        padding: 30px 60px 40px
    }
}

@media(min-width:768px) {
    .layout-footer__top {
        font-family: "S-Core";
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: start;
        -ms-flex-align: start;
        -webkit-align-items: flex-start;
        -moz-align-items: flex-start;
        align-items: flex-start;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        justify-content: space-between
    }
}

.layout-footer__copyright {
    font-family: "S-Core";
    margin: 10px 0 0;
    font-size: 10px;
    color: #424242;
    line-height: 16px
}

