.layout>* {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

@media (min-width: 1256px) {
    .container {
        margin-right: auto;
        margin-left: auto;
        width: 1136px;
        max-width: 100%;
        box-sizing: border-box;
        min-height: 1px;
    }
}

@media (min-width: 1024px) {
    .container {
        margin-right: auto;
        margin-left: auto;
        width: calc(100% - 120px);
        max-width: 100%;
        box-sizing: border-box;
        min-height: 1px;
    }
}

@media (min-width: 768px) {
    .container {
        margin-right: auto;
        margin-left: auto;
        width: calc(100% - 80px);
        max-width: 100%;
        box-sizing: border-box;
        min-height: 1px;
    }
}

@media (min-width: 375px) {
    .container {
        margin-right: auto;
        margin-left: auto;
        width: calc(100% - 30px);
        max-width: 100%;
        box-sizing: border-box;
        min-height: 1px;
    }
}

.container {
    margin-right: auto;
    margin-left: auto;
    width: calc(100% - 30px);
    max-width: 100%;
    box-sizing: border-box;
    min-height: 1px;
}

blockquote,
body,
code,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
    margin-top: 0px;
    margin-right: 0px;

    margin-left: 0px;
    padding-top: 0px;

    padding-bottom: 0px;
    padding-left: 0px;
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

div {
    display: block;
}

.css-lce8sn {
    margin: 60px 0px 30px;
    font-size: 24px;
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.css-16tu7tl {
    display: block;
    width: 100%;
    padding: 12px 16px;
    background-color: rgb(229, 249, 255);
    color: rgb(66, 66, 66);
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.5;
}

ol,
ul {
    list-style: none;
}

ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.css-1my6dxh {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 30px 0px 15px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.3;
}

.css-1n9j4pw {
    border-top: 1px solid rgb(237, 237, 237);
    margin-bottom: 55px;
}

.css-1ut0wen {
    display: flex;
    padding: 0px 10px;
    border-bottom: 1px solid rgb(237, 237, 237);
}

.css-e2e03k {
    width: 100px;
    height: 100px;
    margin: 20px 20px 20px 0px;
    border-radius: 4px;
}

fieldset,
img {
    border: 0;
}

.css-uppt65 {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0px;
}

.css-uh49fh {
    flex: 1 0 0px;
    padding: 20px 0px;
}

.css-1hcr64z {
    display: block;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: 15px;
}

[role=button],
a,
button,
input[type=button],
input[type=reset],
input[type=submit] {
    cursor: pointer;
    touch-action: manipulation;
}

a {
    color: inherit;
    text-decoration: none;
}

.css-8of5w7 {
    margin-bottom: 20px;
    font-size: 16px;
    word-break: break-word;
}

.css-ogma5x {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 16px;
}

.css-15f4l60 {
    font-weight: normal;
    color: rgb(117, 117, 117);
}

.css-108lic4 {
    margin: 0px 7px;
    border-right: 1px solid rgb(204, 204, 204);
    display: inline-block;
    height: 15px;
}

.css-rg8fxz {
    display: flex;
    color: rgb(41, 41, 41);
    font-size: 17px;
    -webkit-box-align: center;
    align-items: center;
}

.css-108lic4 {
    margin: 0px 7px;
    border-right: 1px solid rgb(204, 204, 204);
    display: inline-block;
    height: 15px;
}


.css-5oe87z {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 200px;
    width: 100%;
    padding: 30px 10px;
    border-left: 1px solid rgb(237, 237, 237);
}

._1eWD8 {
    user-select: none;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: "Noto Sans KR", "Noto Sans CJK KR", "¸¼Àº °íµñ", "Malgun Gothic", sans-serif;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    background: none;
    text-decoration: none;
    transition: color 0.1s ease 0s, background-color 0.1s ease 0s, border-color 0.1s ease 0s;
    border-radius: 4px;
}

button,
input,
select,
textarea {
    font-size: inherit;
}


.css-fvk5ng:last-of-type {
    margin-right: 0px;
}

.css-19ejt2g {
    width: 75px;
    font-weight: bold;
}

._1xT_u {
    padding: 8px 10px 7px;
    line-height: 17px;
    font-size: 14px;
    min-height: 32px;
}

._2wYpN {
    background-color: #fff;
    border-color: #eaebef;
    color: #292929;
    font-weight: 400;
}

._1eWD8 {
    user-select: none;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: "Noto Sans KR", "Noto Sans CJK KR", "¸¼Àº °íµñ", "Malgun Gothic", sans-serif;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    margin: 0px;

    border-width: 1px;
    border-style: solid;

    border-image: initial;
    background: none;
    text-decoration: none;
    transition: color 0.1s ease 0s, background-color 0.1s ease 0s, border-color 0.1s ease 0s;
    border-radius: 4px;
}

button {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.css-1p9xs0n:last-of-type {
    border-bottom: 0px;
}

.css-1p9xs0n {
    padding: 16px 0px;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    color: rgb(47, 52, 56);
    background-color: rgb(247, 248, 250);
    box-sizing: border-box;

}

.css-5bhc30 {
    margin-bottom: 8px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.css-1o7tb0k {
    font-size: 16px;
    font-weight: bold;
    color: rgb(117, 117, 117);
}

.css-135ijij {
    margin-left: 5px;
    color: rgb(53, 197, 240);
}

.css-y8viq9 {
    margin-bottom: 55px;
}

section {
    display: block;
}

.css-py8xgp {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 15px 10px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(189, 189, 189);
    font-weight: bold;
    font-size: 16px;
}

.css-1h47j8n {
    padding: 15px 10px;
    box-sizing: border-box;
}

.css-zjik7 {
    display: flex;
}

.css-17fh4sh {
    flex: 1 0 0px;
}

.css-k8dhob {
    display: flex;
    line-height: 30px;
    min-height: 30px;
    margin-bottom: 16px;
    padding-right: 20px;
}

.css-xlcpif {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(117, 117, 117);
    font-size: 15px;
    min-width: 72px;
    max-height: 40px;
}

.css-cqduba {
    flex: 1 0 0px;
    color: rgb(41, 41, 41);
    font-size: 15px;
    font-weight: normal;
    white-space: pre-line;
    text-align: left;
}

.css-vqaf4p {
    display: flex;
}

@media (max-width: 1023px) {
    .css-16tu7tl {
        width: calc(100% + 30px);
        margin: 0px -15px;
    }
}

@media (max-width: 1023px) {
    .css-1my6dxh {
        display: block;
        word-break: keep-all;
        margin: 20px 0px 10px;
        font-size: 13px;
        font-weight: normal;
    }
}

@media (max-width: 1023px) {


    .css-e2e03k {
        width: 75px;
        height: 75px;
        margin: 10px 10px 10px 0px;
    }
}

@media (max-width: 1023px) {
    .css-1hcr64z {
        font-size: 15px;
        line-height: 1.3;
    }
}

@media (max-width: 1023px) {
    .css-8of5w7 {
        font-size: 14px;
        margin-bottom: 10px;
    }
}

@media (max-width: 1023px) {
    .css-ogma5x {
        font-size: 14px;
        margin-bottom: 10px;
    }
}

@media (max-width: 1023px) {
    .css-rg8fxz {
        font-size: 14px;
    }
}

@media (max-width: 1023px) {
    .css-19ejt2g {
        width: 100%;
    }
}

@media (max-width: 1023px) {
    .css-uh49fh {
        padding: 10px 0px;
    }
}

@media (max-width: 1023px) {
    css-uppt65 {
        display: block;
    }
}

@media (max-width: 1023px) {
    .css-1ut0wen {
        padding: 5px 10px;
    }
}

@media (max-width: 1023px) {
    .css-1p9xs0n {
        font-size: 13px;
    }
}

@media (max-width: 1023px) {
    .css-1p9xs0n {
        font-size: 13px;
    }
}

@media (max-width: 1023px) {
    .css-1o7tb0k {
        font-size: 14px;
    }
}

@media (max-width: 1023px) {
    css-py8xgp {
        font-size: 15px;
    }
}


.css-xur6g5 {
    color: rgb(117, 117, 117);
    text-decoration: underline;
    margin-left: 10px;
}

.css-17qztlv {
    flex: 1 0 0px;
    color: rgb(41, 41, 41);
    font-size: 15px;
    font-weight: normal;
    white-space: pre-line;
    text-align: right;
}

@media (max-width: 1023px) {
    .css-17qztlv {
        font-size: 13px;
    }
}


@media (max-width: 1023px) {
    .css-k8dhob {
        padding-right: 0px;
        line-height: 20px;
        min-height: 20px;
    }
}


@media (max-width: 1023px) {
    .css-cqduba {
        font-size: 13px;
    }
}

@media (max-width: 1023px) {
    css-py8xgp {
        font-size: 15px;
    }
}

@media (max-width: 1023px) {
    .css-5oe87z {
        margin-top: 10px;
        justify-content: normal;
        align-items: normal;
        max-width: 100%;
        border: 0px;
        padding: 0px;
    }
}

@media (min-width: 768px) {

    body,
    html {
        font-size: 15px;
    }
}

footer,
header,
main {
    box-sizing: border-box;
    position: relative;
    display: block;
}

.layout,
.page,
body,
html {
    height: 100%;
}