@charset "UTF-8";

* {
	font-family: "S-Core", sans-serif;
}

@font-face {
	font-family: 'S-Core';
	font-weight: 400;
	src: url('../../assets/font/S-CoreDream-4Regular.woff') format('woff');
}

@font-face {
	font-family: 'S-Core';
	font-weight: 600;
	src: url('../../assets/font/S-CoreDream-6Bold.woff') format('woff');
}

@font-face {
	font-family: 'S-Core';
	font-weight: 800;
	src: url('../../assets/font/S-CoreDream-8Heavy.woff') format('woff');
}