@charset "UTF-8";

.search-select {
	margin-right: 3px;
}

.col-1 {
	width: 10.66666%
}

.paddingLeft1 {
	padding-left: 0;
}

.selectState {
	width: 6rem;
}

.search-input-box {
	margin-left: 5px;
}

.input-font {
	height: 2rem;
}

/* 아연 수정 */
.form-custom-ay{
	display: flex;
    align-items: flex-end;
}

.setting-button {
    margin-left: 0.4rem;
    margin-bottom: 0.1rem;
}

.settingBtn {
    background-color: transparent;
    border: 0px;
}

.dropdown-menu.show {
    display: block;
    max-height: 400px;
    overflow: auto;
}

.dropdown-header{
	font-size: 13px;
}

.dropdown-item{
	font-size: 13px;
}
